body {
  background-color: thistle;
  margin-top: auto;
}

header {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

article {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-style: solid;
  border-color: purple;
  border-radius: 10px;
}

header h1 {
  color: mediumpurple;
  font-size: 36pt;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 18pt;
  color: cadetblue;
}

h2:hover {
  font-style: italic;
}

h3 {
  font-family: arial;
  font-size: 12pt;
  color: slategray;
  border-style: solid;
  border-color: teal;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 10px 20px 10px 5px;
}

p {
  font-family: 'Arapey', serif;
  font-size: 12pt;
  color: dimgray;
}

ul {
  font-family: 'Arapey', serif;
  font-size: 14pt;
  color: dimgray;
  padding-left: 20px;
  list-style-type: square;
}

ol {
  font-family: 'Arapey', serif;
  font-size: 14pt;
  color: dimgray;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: pink;
  text-decoration: underline;
}

.nav {
  font-family: arial;
  text-align: center;
}

.botfooter {
  border-width: 1px;
  border-style: solid;
  padding: 5px 20px 5px 20px;
  margin-top: 100px;
  background-color: lavenderblush;
}